[Unit]
Description=WebAbsen Face Verification Service
After=network.target video.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=5
User=raspberry
WorkingDirectory=/home/raspberry/AbsenProject
# Headless mode: No display needed
# Environment="DISPLAY=:0"
ExecStart=/usr/bin/python3 /home/raspberry/AbsenProject/absensi_server/face/verify.py

[Install]
WantedBy=multi-user.target
